<!DOCTYPE html>
<html lang="en">

<head>
    <title>Wendy's Cloud Storage</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Responsive Image Gallery with jQuery" />
    <meta name="keywords" content="jquery, carousel, image gallery, slider, responsive, flexible, fluid, resize, css3" />
    <meta name="Joseph Mckenzie" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/elastislide.css" />
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow&v1' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css' />
    <noscript>
        <style>
            .es-carousel ul{
					display:block;
				}
			</style>
    </noscript>
    <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
        <div class="rg-image-wrapper">
				{{if itemsCount > 1}}
					<div class="rg-image-nav">
						<a href="#" class="rg-image-nav-prev">Previous Image</a>
						<a href="#" class="rg-image-nav-next">Next Image</a>
					</div>
				{{/if}}
				<div class="rg-image"></div>
				<div class="rg-loading"></div>
				<div class="rg-caption-wrapper">
					<div class="rg-caption" style="display:none;">
						<p></p>
					</div>
				</div>
			</div>
		</script>
</head>

<body>
    <div class="container">
        <div class="header">
        </div><!-- header -->
        <div class="content" style='text-align:center'>
            <h1>Wendy's Cloud Storage <span>A place to keep all your precious memories</span></h1><br>
              <h1 style='text-align:center'>
                <%=message%>
            </h1>
            <h3 style='text-align:center'> Please Select the folder you wish to view. </h3>
          
                <form action="gallery" method="get">
                <%# <input type="hidden" name="" /> %>
                <select name="searchterm" id="Search" onchange="DropDownChanged(this);">
                    <option value="None">View All</option>
                    <%listFolders.each do |folder|%>
                    <option value="<%=folder%>"><%=folder%></option>
                    <%end%>
                    <option value="">New Folder</option>
                </select><br>
                <input type="text" name="customFolder" style="display: none;" placeholder="Enter a name"/><br>
                <button type="submit">Submit</button>
                </form>
                <script>
                    var x = document.getElementById("Search").options;
                        for(var i=0;i<x.length;i++){
                                if(x[i].text=="<%=searchterm%>"){
                                    x[i].selected=true;
                                    break;
                        }
                    }
                </script>


          
            <div id="rg-gallery" class="rg-gallery">
                <div class="rg-thumbs">
                    <!-- Elastislide Carousel Thumbnail Viewer -->
                    <div class="es-carousel-wrapper">
                        <div class="es-nav">
                            <span class="es-nav-prev">Previous</span>
                            <span class="es-nav-next">Next</span>
                        </div>
                        <div class="es-carousel">
                            <ul>
                                <%images.each do |image| %>

                                <li><a href="#"><img src="<%=image%>" data-large="<%=image%>" alt="" data-description="<%=image%>"
                                            id="imagetoget" /></a></li>
                                <%end%>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" style="text-align: center;">
                <form action="deletePhoto" method="post" onsubmit="return confirm('Are you sure wish to delete this photo?');">
                    <input type="hidden" id="imagelink" name="imageToDelete">
                    <input type='hidden' name='searchterm' value="<%=searchterm%>">
                    <button type='submit'>Delete Photo</button>
                </form>
            </div>
        </div>
        <script>
            var imagelink = document.getElementById("imagetoget").src
                document.getElementById("imagelink").value = imagelink
        </script>
    </div>
    <form action='/s3upload' method='post' accept-charset="utf-8" enctype="multipart/form-data" style="text-align: center;">
        <label for='image_file'>Upload New Image</label><br>
        <input type="file" name="image" id="image_file" /><br><br>
        <input type='hidden' name='folderName' value="<%=searchterm%>">
        <input type='hidden' name='searchterm' value="<%=searchterm%>">

        <button type='submit'>Save</button>
    </form>
    </div>
    <!-- container -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.tmpl.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/jquery.elastislide.js"></script>
    <script type="text/javascript" src="js/gallery.js"></script>
</body>

</html>

<script>
function DropDownChanged(oDDL) {
    var oTextbox = oDDL.form.elements["customFolder"];
    if (oTextbox) {
        oTextbox.style.display = (oDDL.value == "") ? "" : "none";
        if (oDDL.value == "")
            oTextbox.focus();
    }
}

</script>